@charset "UTF-8";
@font-face {
  font-family: 'Hensa';
  src: url("../fonts/Hensa.eot");
  src: url("../fonts/Hensa.eot?iefix") format("eot"), url("../fonts/Hensa.woff") format("woff"), url("../fonts/Hensa.ttf") format("truetype"), url("../fonts/Hensa.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1499px) {
    html {
      font-size: 54%; } }
  @media only screen and (max-width: 1399px) {
    html {
      font-size: 52%; } }
  @media only screen and (max-width: 1199px) {
    html {
      font-size: 62.5%; } }

.container {
  width: 1170px;
  margin: 0 auto; }
  @media only screen and (max-width: 1199px) {
    .container {
      width: 960px; } }
  @media only screen and (max-width: 980px) {
    .container {
      width: 740px; } }
  @media only screen and (max-width: 768px) {
    .container {
      width: 560px; } }
  @media only screen and (max-width: 578px) {
    .container {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px; } }

body {
  position: relative;
  overflow-x: hidden;
  background: #f7fbff; }
  body:after {
    display: block;
    content: '';
    position: absolute;
    top: 69px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: calc(100% - 69px);
    z-index: 99;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out; }
  body.overflow {
    overflow: hidden; }
    body.overflow:after {
      visibility: visible;
      opacity: 1; }

.hidden {
  display: none; }

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #3b4d67;
  letter-spacing: 0.5px;
  outline: none; }
  *:hover, *:focus, *:active {
    outline: none; }
  *::selection {
    color: #fff;
    /* Цвет текста */
    background: #ad9fcf;
    /* Цвет фона */ }
  * li {
    list-style: none; }
  * a {
    text-decoration: none; }

.btn {
  display: block;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  background: linear-gradient(to bottom, #ffc0dc, #f965a3);
  width: 24rem;
  height: 6rem;
  line-height: 6rem;
  padding: 0 1.7rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 1199px) {
    .btn {
      width: 21rem;
      height: 5rem;
      line-height: 5rem;
      padding: 0 1rem; } }
  @media only screen and (max-width: 980px) {
    .btn {
      width: 18rem;
      height: 4.5rem;
      line-height: 4.5rem;
      font-size: 1.4rem; } }
  @media only screen and (max-width: 578px) {
    .btn {
      width: 100%;
      font-size: 1.5rem; } }
  .btn_small {
    width: auto;
    height: 4rem;
    line-height: 4rem;
    padding: 0 4rem;
    font-size: 1.3rem;
    background: linear-gradient(to bottom, #bb8add, #9779da); }
    @media only screen and (max-width: 1199px) {
      .btn_small {
        padding: 0 3rem; } }
    @media only screen and (max-width: 980px) {
      .btn_small {
        font-size: 1.1rem; } }

.btn_circle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #bb8add, #9779da);
  cursor: pointer; }
  @media only screen and (max-width: 980px) {
    .btn_circle {
      width: 3.5rem;
      height: 3.5rem; } }
  .btn_circle i {
    color: #fff;
    font-size: 1.6rem; }
    @media only screen and (max-width: 980px) {
      .btn_circle i {
        font-size: 1.3rem; } }

h2 {
  font-family: "Hensa", sans-serif;
  font-size: 8rem;
  color: #ad9fcf;
  letter-spacing: -1px;
  margin: 0 0 0.5rem; }
  @media only screen and (max-width: 1199px) {
    h2 {
      font-size: 6rem; } }
  @media only screen and (max-width: 980px) {
    h2 {
      font-size: 4.5rem; } }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 5.5rem;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 578px) {
    h2 {
      font-size: 4.5rem;
      margin-bottom: 1rem; } }

h3 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  letter-spacing: 0px;
  margin: 0 0 3rem 0; }
  @media only screen and (max-width: 1499px) {
    h3 {
      font-size: 5.5rem;
      line-height: 6.5rem;
      margin: 0 0 2rem 0; } }
  @media only screen and (max-width: 1199px) {
    h3 {
      font-size: 4rem;
      line-height: 5rem; } }
  @media only screen and (max-width: 980px) {
    h3 {
      font-size: 3rem;
      line-height: 3.5rem; } }
  @media only screen and (max-width: 578px) {
    h3 {
      font-size: 2.7rem;
      line-height: 3rem;
      margin-bottom: 1.5rem; } }

h4 {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 4rem;
  letter-spacing: 0px;
  margin: 0 0 4.7rem; }
  @media only screen and (max-width: 1499px) {
    h4 {
      font-size: 2rem;
      line-height: 3rem;
      margin: 0 0 3rem 0; } }
  @media only screen and (max-width: 1199px) {
    h4 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 980px) {
    h4 {
      font-size: 1.7rem;
      line-height: 2.5rem; } }
  @media only screen and (max-width: 578px) {
    h4 {
      font-size: 1.5rem; } }

p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0; }
  @media only screen and (max-width: 1199px) {
    p {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 980px) {
    p {
      line-height: 2.5rem; } }

input,
textarea {
  width: 100%;
  height: 7rem;
  margin-bottom: 3rem;
  border: 1px solid #3b4d67;
  border-radius: 8px;
  padding: 1.9rem 2.5rem 1.2rem;
  color: #859ab8;
  font-size: 1.6rem;
  line-height: 3rem;
  background: #fff; }

textarea {
  height: 20rem; }

@keyframes move1 {
  0% {
    top: 18%; }
  50% {
    top: 20%; }
  100% {
    top: 18%; } }

@keyframes move2 {
  0% {
    top: 26%; }
  50% {
    top: 30%; }
  100% {
    top: 26%; } }

@keyframes move3 {
  0% {
    top: 31%; }
  50% {
    top: 35%; }
  100% {
    top: 31%; } }

@keyframes move4 {
  0% {
    top: 44%; }
  50% {
    top: 48%; }
  100% {
    top: 44%; } }

.fixed-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg.png") center center/cover no-repeat;
  z-index: -1; }
  .fixed-block .elem1 {
    position: absolute;
    top: 18%;
    left: 5.6%;
    animation: move1 2s infinite ease-in-out; }
  .fixed-block .elem2 {
    position: absolute;
    top: 26%;
    left: 10.3%;
    animation: move2 3s infinite ease-in-out; }
  .fixed-block .elem3 {
    position: absolute;
    right: 4.2%;
    top: 31%;
    animation: move3 3s infinite ease-in-out; }
  .fixed-block .elem4 {
    position: absolute;
    top: 44%;
    right: 10.6%;
    animation: move4 2s infinite ease-in-out; }
  .fixed-block .elem5 {
    position: absolute;
    bottom: 0;
    left: 0; }
  .fixed-block .elem6 {
    position: absolute;
    bottom: 0;
    right: 0; }
  .fixed-block .elem7 {
    position: absolute;
    right: 8%;
    bottom: 0; }
  .fixed-block .elem8 {
    position: absolute;
    bottom: 0;
    left: 43%; }
  .fixed-block .elem9 {
    position: absolute;
    bottom: -3%;
    left: 32%; }

header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0 40px;
  height: 76px;
  z-index: 999;
  background: transparent;
  transition: all 0.3s ease-out; }
  @media only screen and (max-width: 1199px) {
    header {
      padding: 0 15px; } }
  @media only screen and (max-width: 980px) {
    header {
      height: 66px; } }
  header.menu-open {
    background: white; }
    header.menu-open .content {
      right: 0; }
  header .logo {
    padding: 18px 0; }
    @media only screen and (max-width: 980px) {
      header .logo {
        padding: 12px 0;
        width: 10rem; } }
  header .mobile-icon {
    display: none;
    width: 26px;
    height: 18px;
    margin: 11px 7px;
    position: relative; }
    header .mobile-icon p {
      position: absolute;
      left: 0;
      width: 26px;
      height: 2px;
      background: #ef69a6;
      border-radius: 1px;
      transition: 0.3s;
      transform-origin: 50% 50%; }
      header .mobile-icon p:nth-child(1) {
        top: 0; }
      header .mobile-icon p:nth-child(2) {
        top: 8px;
        transition: 0.1s; }
      header .mobile-icon p:nth-child(3) {
        bottom: 0; }
    header .mobile-icon.active p:nth-child(1) {
      top: 8px;
      transform: rotate(45deg); }
    header .mobile-icon.active p:nth-child(2) {
      opacity: 0; }
    header .mobile-icon.active p:nth-child(3) {
      bottom: 8px;
      transform: rotate(-45deg); }
    @media only screen and (max-width: 768px) {
      header .mobile-icon {
        display: block; } }
  header .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%; }
    header .content .btn {
      margin: 0 2rem 0 3.3rem; }
      @media only screen and (max-width: 1199px) {
        header .content .btn {
          margin: 0 2rem; } }
      @media only screen and (max-width: 980px) {
        header .content .btn {
          margin: 0 1.5rem;
          padding: 0 2rem;
          white-space: nowrap; } }
      @media only screen and (max-width: 768px) {
        header .content .btn {
          margin: 1rem 0 3rem auto;
          padding: 0 3rem;
          font-size: 1.4rem; } }
    @media only screen and (max-width: 768px) {
      header .content .btn_circle {
        margin: 0 0 0 auto;
        width: 4rem;
        height: 4rem; }
        header .content .btn_circle i {
          font-size: 1.4rem; } }
    @media only screen and (max-width: 768px) {
      header .content {
        width: 80vw;
        flex-direction: column;
        position: absolute;
        top: 99%;
        height: auto;
        right: -100%;
        transition: all 0.3s ease-out;
        background: rgba(255, 255, 255, 0.9);
        padding: 3rem 1.5rem; } }
  @media only screen and (max-width: 768px) {
    header nav {
      margin: 0 0 0 auto; } }
  header nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%; }
    @media only screen and (max-width: 768px) {
      header nav ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
        -ms-flex-pack: flex-end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        -ms-align-items: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 80%;
        margin: 0 0 0 auto; } }
    header nav ul a {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      font-weight: 600;
      font-size: 1.6rem;
      letter-spacing: 0.4px;
      margin-left: 3.75rem;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      @media only screen and (max-width: 1199px) {
        header nav ul a {
          margin-left: 2.5rem; } }
      @media only screen and (max-width: 980px) {
        header nav ul a {
          margin-left: 1.5rem;
          font-size: 1.4rem; } }
      @media only screen and (max-width: 768px) {
        header nav ul a {
          color: #ef69a6;
          text-align: right;
          margin-bottom: 2rem;
          font-size: 1.8rem;
          text-transform: uppercase; } }
  header .btn_small {
    background: linear-gradient(to bottom, #ffc0dc, #f965a3); }

.first-screen {
  position: relative; }
  .first-screen .trigger1 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: 'trigger';
    width: 1px;
    height: 1px;
    background: transperent;
    display: block;
    padding: 0; }
  .first-screen > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 16rem;
    padding-bottom: 6rem; }
    @media only screen and (max-width: 1499px) {
      .first-screen > div {
        padding-top: 10rem; } }
    @media only screen and (max-width: 768px) {
      .first-screen > div {
        flex-direction: column-reverse; } }
    .first-screen > div > div:first-child {
      width: 51%;
      margin-right: 5rem; }
      @media only screen and (max-width: 980px) {
        .first-screen > div > div:first-child {
          margin-right: 3rem; } }
      @media only screen and (max-width: 768px) {
        .first-screen > div > div:first-child {
          width: 100%; } }
      .first-screen > div > div:first-child .text-block {
        padding-top: 5.2rem; }
        @media only screen and (max-width: 578px) {
          .first-screen > div > div:first-child .text-block {
            padding-top: 3.5rem; } }
        .first-screen > div > div:first-child .text-block h4 {
          width: 86%; }
          @media only screen and (max-width: 1199px) {
            .first-screen > div > div:first-child .text-block h4 {
              width: 100%; } }
    .first-screen > div > div:last-child {
      width: calc(49% - 5rem); }
      @media only screen and (max-width: 980px) {
        .first-screen > div > div:last-child {
          width: calc(49% - 3rem); } }
      @media only screen and (max-width: 768px) {
        .first-screen > div > div:last-child {
          width: 60%;
          margin: 0 auto; } }
      .first-screen > div > div:last-child div.img {
        position: relative;
        z-index: 2; }
        @media only screen and (max-width: 1499px) {
          .first-screen > div > div:last-child div.img img {
            width: 70%; } }
        @media only screen and (max-width: 1399px) {
          .first-screen > div > div:last-child div.img img {
            width: 62%; } }
        @media only screen and (max-width: 1199px) {
          .first-screen > div > div:last-child div.img img {
            width: 74%; } }
        @media only screen and (max-width: 980px) {
          .first-screen > div > div:last-child div.img img {
            width: 85%; } }
        @media only screen and (max-width: 578px) {
          .first-screen > div > div:last-child div.img img {
            width: 100%; } }
        .first-screen > div > div:last-child div.img img.shadow {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: -1; }
          @media only screen and (max-width: 1499px) {
            .first-screen > div > div:last-child div.img img.shadow {
              width: 120%; } }
          @media only screen and (max-width: 1199px) {
            .first-screen > div > div:last-child div.img img.shadow {
              top: 0;
              left: 15px; } }
          @media only screen and (max-width: 980px) {
            .first-screen > div > div:last-child div.img img.shadow {
              width: 150%;
              height: 100%;
              top: 0;
              left: 0; } }
          @media only screen and (max-width: 578px) {
            .first-screen > div > div:last-child div.img img.shadow {
              width: 175%; } }
  @media only screen and (max-width: 768px) {
    .first-screen .btn {
      margin: 0 auto; } }

.who-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem; }
  @media only screen and (max-width: 1499px) {
    .who-block {
      padding-top: 10rem; } }
  @media only screen and (max-width: 768px) {
    .who-block {
      padding-top: 0;
      padding-bottom: 4rem; } }
  .who-block > div:first-child {
    width: 43%;
    margin: 0 9.8rem 0 0;
    padding: 1.6rem 0 0 2rem; }
    @media only screen and (max-width: 1499px) {
      .who-block > div:first-child {
        padding: 0;
        margin: 0 2rem 0 0; } }
    @media only screen and (max-width: 1199px) {
      .who-block > div:first-child {
        width: 40%; } }
    @media only screen and (max-width: 768px) {
      .who-block > div:first-child {
        width: 100%;
        margin: 0; } }
    @media only screen and (max-width: 1499px) {
      .who-block > div:first-child img {
        width: 80%; } }
    @media only screen and (max-width: 1199px) {
      .who-block > div:first-child img {
        width: 88%; } }
    @media only screen and (max-width: 768px) {
      .who-block > div:first-child img {
        width: 60%;
        display: block;
        margin: 0 auto; } }
    @media only screen and (max-width: 578px) {
      .who-block > div:first-child img {
        width: 70%; } }
  .who-block > div:last-child {
    width: calc(57% - 9.8rem); }
    @media only screen and (max-width: 1499px) {
      .who-block > div:last-child {
        width: calc(57% - 2rem); } }
    @media only screen and (max-width: 1199px) {
      .who-block > div:last-child {
        width: calc(60% - 2rem); } }
    @media only screen and (max-width: 768px) {
      .who-block > div:last-child {
        width: 100%; } }
    .who-block > div:last-child .text-block h3 {
      margin-bottom: 4rem; }
      @media only screen and (max-width: 1199px) {
        .who-block > div:last-child .text-block h3 {
          margin-bottom: 2rem; } }
    .who-block > div:last-child .text-block h4 {
      margin-bottom: 3.5rem; }
      @media only screen and (max-width: 1199px) {
        .who-block > div:last-child .text-block h4 {
          margin-bottom: 1.5rem; } }
    .who-block > div:last-child .text-block p {
      width: 85%; }
    .who-block > div:last-child .text-block a.btn {
      margin-top: 5.5rem; }
      @media only screen and (max-width: 1199px) {
        .who-block > div:last-child .text-block a.btn {
          margin-top: 3rem; } }
      @media only screen and (max-width: 768px) {
        .who-block > div:last-child .text-block a.btn {
          margin: 3rem auto 0; } }

.section3 .who-block {
  align-items: flex-end;
  padding-top: 7rem; }
  .section3 .who-block > div:last-child {
    padding: 0 0 5rem; }
    .section3 .who-block > div:last-child .text-block p {
      width: 100%; }

.section2,
.section3,
.section4,
.section5,
.articles,
.instagram-section,
.contact-section {
  position: relative; }
  .section2 .trigger1,
  .section3 .trigger1,
  .section4 .trigger1,
  .section5 .trigger1,
  .articles .trigger1,
  .instagram-section .trigger1,
  .contact-section .trigger1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: transparent;
    display: block;
    padding: 0; }

.section4 .trigger1,
.instagram-section .trigger1 {
  top: 50%;
  transform: translateY(-50%); }

.why-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 18rem; }
  @media only screen and (max-width: 1499px) {
    .why-block {
      padding-bottom: 12rem; } }
  @media only screen and (max-width: 768px) {
    .why-block {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  @media only screen and (max-width: 578px) {
    .why-block {
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  .why-block h2 {
    width: 100%; }
  @media only screen and (max-width: 1499px) {
    .why-block h3 br {
      display: none; } }
  .why-block > div.text-left {
    width: 51.5%; }
    @media only screen and (max-width: 768px) {
      .why-block > div.text-left {
        width: 100%; } }
  .why-block > div:last-child {
    width: 48.5%;
    margin: 0 0 -1rem auto; }
    @media only screen and (max-width: 768px) {
      .why-block > div:last-child {
        width: 100%; } }
    .why-block > div:last-child h4 {
      margin: 0 0 3.7rem; }
      @media only screen and (max-width: 1199px) {
        .why-block > div:last-child h4 {
          margin: 0 0 2rem; } }

.articles {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -5rem; }
  @media only screen and (max-width: 1499px) {
    .articles {
      margin-top: 0; } }
  @media only screen and (max-width: 768px) {
    .articles {
      padding-top: 5rem;
      margin: 0; } }
  .articles .article {
    width: calc((100% - 10rem) / 3); }
    @media only screen and (max-width: 1199px) {
      .articles .article {
        width: calc((100% - 4rem) / 3); } }
    @media only screen and (max-width: 768px) {
      .articles .article {
        width: 80%;
        margin: 0 auto 4rem; } }
    @media only screen and (max-width: 578px) {
      .articles .article {
        width: 100%;
        margin-bottom: 5rem; } }
    .articles .article .image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 31rem;
      margin-bottom: 1.4rem; }
      .articles .article .image img {
        display: block;
        margin: 0 auto; }
      @media only screen and (max-width: 1499px) {
        .articles .article .image {
          margin: 0 auto; } }
      @media only screen and (max-width: 980px) {
        .articles .article .image {
          height: 22rem; } }
      @media only screen and (max-width: 578px) {
        .articles .article .image {
          height: 24rem; } }
      @media only screen and (max-width: 1499px) {
        .articles .article .image img {
          width: 96%;
          display: block;
          margin: 0 auto; } }
      @media only screen and (max-width: 768px) {
        .articles .article .image img {
          width: 50%; } }
      @media only screen and (max-width: 578px) {
        .articles .article .image img {
          width: 85%; } }
    .articles .article h4,
    .articles .article p {
      text-align: center; }
    .articles .article h4 {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 3.5rem;
      padding: 0 1rem;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 980px) {
        .articles .article h4 {
          font-size: 1.8rem;
          line-height: 2.5rem;
          margin: 0 0 1.5rem 0; } }
  .articles .btn {
    margin: 4rem auto; }
    @media only screen and (max-width: 768px) {
      .articles .btn {
        margin: 0 auto 5rem; } }

.instagram {
  margin: 11rem auto 4rem auto; }
  @media only screen and (max-width: 1499px) {
    .instagram {
      margin-top: 7rem; } }
  .instagram .insta-top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 7rem; }
    @media only screen and (max-width: 980px) {
      .instagram .insta-top {
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 578px) {
      .instagram .insta-top {
        flex-direction: column; } }
    .instagram .insta-top h3 {
      margin: 0; }
    .instagram .insta-top > div:last-child {
      padding-right: 3rem; }
      .instagram .insta-top > div:last-child img {
        display: block;
        margin: 0 auto 2.3rem; }
        @media only screen and (max-width: 980px) {
          .instagram .insta-top > div:last-child img {
            margin: 0 auto 1rem;
            width: 45%; } }
        @media only screen and (max-width: 578px) {
          .instagram .insta-top > div:last-child img {
            width: 6rem;
            margin: 0; } }
      @media only screen and (max-width: 578px) {
        .instagram .insta-top > div:last-child {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          -ms-justify-content: space-between;
          justify-content: space-between;
          -ms-flex-pack: space-between;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: nowrap;
          -moz-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          width: 100%;
          padding: 0;
          margin: 2rem 0 0; } }

.insta-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .insta-list .insta-item {
    width: calc((100% - 6rem) / 3); }
    @media only screen and (max-width: 768px) {
      .insta-list .insta-item {
        width: calc((100% - 2rem) / 3); } }
    @media only screen and (max-width: 578px) {
      .insta-list .insta-item {
        width: 80%;
        margin: 0 auto 3rem; } }
    .insta-list .insta-item p.top {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      font-weight: 500;
      font-size: 1.8rem;
      margin-bottom: 2.2rem; }
      @media only screen and (max-width: 768px) {
        .insta-list .insta-item p.top {
          font-size: 1.6rem;
          margin: 0 0 1.5rem; } }
      .insta-list .insta-item p.top .btn_circle {
        width: 3rem;
        height: 3rem;
        background: linear-gradient(to bottom, #ffc0dc, #f965a3);
        color: #fff;
        margin-right: 1.5rem;
        font-size: 1.35rem;
        text-transform: uppercase;
        font-weight: 700; }
        @media only screen and (max-width: 768px) {
          .insta-list .insta-item p.top .btn_circle {
            margin-right: 1rem; } }
    .insta-list .insta-item .image {
      border-radius: 8px;
      min-height: 37rem;
      overflow: hidden;
      margin-bottom: 2.4rem; }
      @media only screen and (max-width: 1199px) {
        .insta-list .insta-item .image {
          min-height: 30rem; } }
      @media only screen and (max-width: 980px) {
        .insta-list .insta-item .image {
          min-height: 10rem; } }
      @media only screen and (max-width: 768px) {
        .insta-list .insta-item .image {
          margin-bottom: 1.5rem; } }
      .insta-list .insta-item .image img {
        width: 100%; }
    .insta-list .insta-item > p {
      margin-bottom: 5px; }
      @media only screen and (max-width: 768px) {
        .insta-list .insta-item > p {
          font-size: 1.4rem; } }
    .insta-list .insta-item .tags a {
      display: inline-block;
      font-size: 1.4rem;
      line-height: 3rem;
      color: #ad9fcf;
      letter-spacing: 0.1px; }
      @media only screen and (max-width: 980px) {
        .insta-list .insta-item .tags a {
          line-height: 2rem; } }
    .insta-list .insta-item .icons {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 768px) {
        .insta-list .insta-item .icons {
          margin-bottom: 1rem; } }
      .insta-list .insta-item .icons > div {
        width: calc(100% / 3); }
        .insta-list .insta-item .icons > div:first-child img {
          margin-right: 1rem; }
          @media only screen and (max-width: 1199px) {
            .insta-list .insta-item .icons > div:first-child img {
              width: 2.2rem;
              margin-right: 0.5rem; } }
          @media only screen and (max-width: 980px) {
            .insta-list .insta-item .icons > div:first-child img {
              width: 1.8rem; } }
          @media only screen and (max-width: 768px) {
            .insta-list .insta-item .icons > div:first-child img {
              width: 1.4rem;
              margin-right: 0.2rem; } }
          @media only screen and (max-width: 578px) {
            .insta-list .insta-item .icons > div:first-child img {
              width: 2.2rem; } }
          .insta-list .insta-item .icons > div:first-child img:last-child {
            margin-right: 0; }
        .insta-list .insta-item .icons > div:last-child img {
          display: block;
          margin: 0 0 0 auto; }
          @media only screen and (max-width: 1199px) {
            .insta-list .insta-item .icons > div:last-child img {
              height: 2.2rem; } }
          @media only screen and (max-width: 980px) {
            .insta-list .insta-item .icons > div:last-child img {
              height: 1.8rem; } }
          @media only screen and (max-width: 768px) {
            .insta-list .insta-item .icons > div:last-child img {
              height: 1.4rem; } }
          @media only screen and (max-width: 578px) {
            .insta-list .insta-item .icons > div:last-child img {
              height: 2.2rem; } }
        .insta-list .insta-item .icons > div.dots {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: nowrap;
          -moz-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
          .insta-list .insta-item .icons > div.dots span {
            width: 4px;
            height: 4px;
            background: #3b4d67;
            border-radius: 50%;
            margin: 0 0.6rem;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
            @media only screen and (max-width: 980px) {
              .insta-list .insta-item .icons > div.dots span {
                margin: 0 0.4rem; } }
            .insta-list .insta-item .icons > div.dots span:hover, .insta-list .insta-item .icons > div.dots span.active {
              background: #ef69a6; }

.contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 12rem;
  padding-bottom: 0; }
  @media only screen and (max-width: 1199px) {
    .contact {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .contact {
      padding-bottom: 2rem; } }
  @media only screen and (max-width: 768px) {
    .contact .info-block {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 100%;
      margin: 3rem 0; } }
  @media only screen and (max-width: 578px) {
    .contact .info-block {
      flex-direction: column; } }
  .contact .text {
    width: 100%;
    margin-bottom: 4rem; }
  .contact > h3 {
    margin-bottom: 7rem; }
  .contact .info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 0 3rem 0; }
    @media only screen and (max-width: 1199px) {
      .contact .info {
        margin: 0 0 2rem 0; } }
    @media only screen and (max-width: 768px) {
      .contact .info {
        flex-direction: column;
        width: calc(100% / 3); } }
    @media only screen and (max-width: 578px) {
      .contact .info {
        width: 100%;
        flex-direction: row; } }
    .contact .info h4 {
      margin: 0;
      line-height: 3.6rem;
      letter-spacing: -1px;
      font-weight: 600;
      font-size: 2rem; }
      @media only screen and (max-width: 1199px) {
        .contact .info h4 {
          line-height: 2.5rem;
          font-size: 1.8rem; } }
      @media only screen and (max-width: 768px) {
        .contact .info h4 {
          text-align: center;
          font-size: 1.5rem; } }
      .contact .info h4 a {
        font-size: 2rem;
        letter-spacing: -1px;
        font-weight: 600; }
        @media only screen and (max-width: 1199px) {
          .contact .info h4 a {
            font-size: 1.8rem; } }
        @media only screen and (max-width: 768px) {
          .contact .info h4 a {
            font-size: 1.5rem; } }
    .contact .info img {
      margin-right: 3.4rem; }
      @media only screen and (max-width: 1199px) {
        .contact .info img {
          margin-right: 2rem;
          width: 6rem; } }
      @media only screen and (max-width: 768px) {
        .contact .info img {
          margin: 0 0 2rem 0; } }
      @media only screen and (max-width: 578px) {
        .contact .info img {
          margin: 0 2rem 0 0; } }
  .contact form {
    width: 49%;
    margin-top: 1rem; }
    @media only screen and (max-width: 980px) {
      .contact form {
        width: 54%; } }
    @media only screen and (max-width: 768px) {
      .contact form {
        width: 500px;
        margin: 0 auto; } }
    .contact form input,
    .contact form textarea {
      width: 100%;
      height: 7rem;
      margin-bottom: 3rem;
      border: 1px solid #3b4d67;
      border-radius: 8px;
      padding: 1.9rem 2.5rem 1.2rem;
      color: #859ab8;
      font-size: 1.6rem;
      line-height: 3rem;
      background: #fff; }
      @media only screen and (max-width: 1199px) {
        .contact form input,
        .contact form textarea {
          height: 5rem;
          padding: 1.2rem 1rem 1.2rem 1.5rem;
          margin-bottom: 2rem;
          font-size: 1.4rem;
          line-height: 2rem; } }
      @media only screen and (max-width: 980px) {
        .contact form input,
        .contact form textarea {
          margin-bottom: 1.5rem;
          height: 4.5rem; } }
    .contact form textarea {
      height: 20rem; }
      @media only screen and (max-width: 1199px) {
        .contact form textarea {
          height: 18rem; } }
    .contact form .btn {
      margin: 0 0 0 auto; }
      @media only screen and (max-width: 768px) {
        .contact form .btn {
          margin: 0 auto; } }

footer {
  padding-top: 15rem;
  padding-bottom: 20rem;
  min-height: 50vh; }
  @media only screen and (max-width: 1199px) {
    footer {
      padding-top: 5rem;
      padding-bottom: 10rem; } }
  @media only screen and (max-width: 768px) {
    footer {
      padding-bottom: 0; } }
  @media only screen and (max-width: 578px) {
    footer {
      padding-top: 2rem; } }
  footer .logo {
    margin: 0 0 1rem 0; }
    footer .logo img {
      width: 12.5rem; }
      @media only screen and (max-width: 980px) {
        footer .logo img {
          width: 10rem; } }
    footer .logo + p {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 3rem;
      color: #859ab8; }
      @media only screen and (max-width: 768px) {
        footer .logo + p {
          text-align: center;
          font-size: 1.4rem; } }
  footer > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3rem 0 0;
    border-top: 1px solid #859ab8; }
    @media only screen and (max-width: 1199px) {
      footer > div {
        padding: 2rem 0 0; } }
    @media only screen and (max-width: 578px) {
      footer > div {
        padding: 1rem 0 0; } }
    footer > div:first-child {
      padding: 5rem 0 5rem; }
      @media only screen and (max-width: 1199px) {
        footer > div:first-child {
          padding: 3rem 0; } }
    footer > div > div {
      width: calc((100% - 9rem) / 4); }
      @media only screen and (max-width: 980px) {
        footer > div > div {
          width: calc((100% - 3rem) / 4); } }
      @media only screen and (max-width: 768px) {
        footer > div > div {
          width: 100%;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: nowrap;
          -moz-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          margin: 0 0 3rem 0; } }
      footer > div > div h4 {
        font-size: 2rem;
        font-weight: 600;
        color: #3b4d67;
        padding: 0.5rem 0 0;
        margin: 0 0 2.2rem 0; }
        @media only screen and (max-width: 980px) {
          footer > div > div h4 {
            font-size: 1.8rem;
            padding: 1rem 0 0; } }
      footer > div > div h2 {
        font-family: "Hensa", sans-serif;
        font-size: 3.6rem;
        color: #ad9fcf;
        font-weight: 400;
        padding-top: 1rem;
        letter-spacing: 0;
        margin-bottom: 1.8rem; }
        @media only screen and (max-width: 768px) {
          footer > div > div h2 {
            font-size: 4rem;
            margin: 0 0 1.5rem; } }
      footer > div > div .info {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: flex-start;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin: 0 0 1.5rem 0;
        padding: 0.5rem 0 0; }
        footer > div > div .info span {
          display: inline-block;
          width: 2.05rem;
          margin-right: 2rem; }
          @media only screen and (max-width: 980px) {
            footer > div > div .info span {
              width: 1.5rem;
              margin-right: 1.5rem; } }
          @media only screen and (max-width: 768px) {
            footer > div > div .info span {
              width: 3rem; }
              footer > div > div .info span img {
                width: 100%; } }
        footer > div > div .info h5,
        footer > div > div .info h5 a {
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 0;
          margin: 0; }
          @media only screen and (max-width: 980px) {
            footer > div > div .info h5,
            footer > div > div .info h5 a {
              font-size: 1.3rem; } }
      footer > div > div form input {
        height: 4rem;
        padding: 0.5rem 1.5rem;
        margin: 0.5rem 0 1rem;
        font-size: 1.3rem;
        line-height: 3rem;
        color: #859ab8; }
        @media only screen and (max-width: 768px) {
          footer > div > div form input {
            width: 30rem;
            margin: 1rem 0 2rem; } }
      footer > div > div form .btn {
        margin: 0 0 0 auto;
        padding: 0 2rem; }
        @media only screen and (max-width: 768px) {
          footer > div > div form .btn {
            margin: 0 auto; } }
        @media only screen and (max-width: 578px) {
          footer > div > div form .btn {
            width: 12rem; } }
      footer > div > div .menu li {
        margin: 0 0 3rem 0; }
        @media only screen and (max-width: 980px) {
          footer > div > div .menu li {
            margin: 0 0 1rem 0; } }
        @media only screen and (max-width: 768px) {
          footer > div > div .menu li {
            text-align: center;
            margin: 0 0 1.7rem 0; } }
      footer > div > div .menu a {
        position: relative;
        padding: 0 0 0 2.1rem;
        font-weight: 400;
        line-height: 1.9rem;
        font-size: 1.3rem;
        color: #3b4d67; }
        footer > div > div .menu a:before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #ef69a6; }
        @media only screen and (max-width: 980px) {
          footer > div > div .menu a {
            padding: 0 0 0 1.5rem; } }
        @media only screen and (max-width: 768px) {
          footer > div > div .menu a {
            font-size: 1.5rem;
            line-height: 2.2rem; } }
    footer > div:last-child > div {
      width: auto; }
      @media only screen and (max-width: 768px) {
        footer > div:last-child > div {
          margin: 0 0 2rem; } }
      @media only screen and (max-width: 578px) {
        footer > div:last-child > div {
          width: 100%;
          margin: 0 0 1rem 0; } }
      footer > div:last-child > div:last-child {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
        -ms-flex-pack: flex-end;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
        @media only screen and (max-width: 768px) {
          footer > div:last-child > div:last-child {
            justify-content: center; } }
        footer > div:last-child > div:last-child p {
          font-size: 1.2rem;
          line-height: 2.5rem;
          color: #859ab8;
          margin: 0 0.5rem 0 0;
          letter-spacing: 0.02rem; }
    footer > div:last-child ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      @media only screen and (max-width: 578px) {
        footer > div:last-child ul {
          justify-content: center; } }
      footer > div:last-child ul li {
        padding: 0 2.3rem 0 0;
        position: relative; }
        @media only screen and (max-width: 768px) {
          footer > div:last-child ul li {
            padding: 0 1.5rem 0 0; } }
        @media only screen and (max-width: 578px) {
          footer > div:last-child ul li {
            padding: 0 1rem 0 0; } }
        footer > div:last-child ul li:after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 1rem;
          font-size: 1.2rem;
          color: #859ab8;
          content: '|'; }
          @media only screen and (max-width: 768px) {
            footer > div:last-child ul li:after {
              right: 0.3rem; } }
        footer > div:last-child ul li a {
          color: #ad9fcf;
          font-weight: 400;
          line-height: 3rem;
          font-size: 1.2rem;
          letter-spacing: 0.02rem; }
          @media only screen and (max-width: 578px) {
            footer > div:last-child ul li a {
              font-size: 1.1rem;
              letter-spacing: 0; } }
        footer > div:last-child ul li:last-child {
          padding: 0; }
          footer > div:last-child ul li:last-child:after {
            display: none; }

.book-overlay {
  padding: 1.3rem 1.6rem 1.7rem 1.2rem;
  background: #f5c3d8;
  box-shadow: 0 4.23px 8.45px rgba(31, 54, 88, 0.25), 16.9px 16.9px 16.9px rgba(31, 54, 88, 0.15); }
  @media only screen and (max-width: 578px) {
    .book-overlay {
      padding: 0.7rem; } }
  .book-overlay .page-overlay {
    position: relative;
    z-index: 2; }
    .book-overlay .page-overlay > img:not(.bookmark) {
      box-shadow: 0 4.23px 8.45px rgba(31, 54, 88, 0.25), 16.9px 16.9px 16.9px rgba(31, 54, 88, 0.15); }
  .book-overlay img.bookmark {
    position: absolute;
    top: -2.5rem;
    left: 45%;
    transform: translate(0, 0);
    z-index: -1; }
    @media only screen and (max-width: 1499px) {
      .book-overlay img.bookmark {
        height: 115%; } }
    @media only screen and (max-width: 578px) {
      .book-overlay img.bookmark {
        top: -1rem; } }

.section4 {
  padding-top: 14rem; }
  @media only screen and (max-width: 768px) {
    .section4 {
      padding-top: 0; } }

.book-anima-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .book-anima-block {
      flex-direction: column; } }
  .book-anima-block > div:first-child {
    width: 45%; }
    @media only screen and (max-width: 1499px) {
      .book-anima-block > div:first-child {
        width: 42%; } }
    @media only screen and (max-width: 768px) {
      .book-anima-block > div:first-child {
        width: 100%; } }
    .book-anima-block > div:first-child h2 {
      padding: 4rem 0 0; }
      @media only screen and (max-width: 1499px) {
        .book-anima-block > div:first-child h2 {
          padding: 0; } }
    .book-anima-block > div:first-child h3 {
      margin: 0 0 5rem 0; }
      @media only screen and (max-width: 1499px) {
        .book-anima-block > div:first-child h3 {
          margin: 0 0 2rem 0; } }
  .book-anima-block > div:last-child {
    position: absolute;
    top: 0;
    left: 51%; }
    @media only screen and (max-width: 1499px) {
      .book-anima-block > div:last-child {
        left: 47%; } }
    @media only screen and (max-width: 768px) {
      .book-anima-block > div:last-child {
        position: relative;
        left: 0;
        margin: 6rem 0 0 0; } }
    .book-anima-block > div:last-child .book-open {
      position: relative; }
      @media only screen and (max-width: 1499px) {
        .book-anima-block > div:last-child .book-open {
          width: 100%; }
          .book-anima-block > div:last-child .book-open img:not(.bookmark) {
            width: 100%; } }
      @media only screen and (max-width: 1399px) {
        .book-anima-block > div:last-child .book-open {
          width: 90%; } }
      @media only screen and (max-width: 1299px) {
        .book-anima-block > div:last-child .book-open {
          width: 100%; } }
      .book-anima-block > div:last-child .book-open .btn {
        margin: 6.5rem 0 0 11.5rem; }
        @media only screen and (max-width: 1499px) {
          .book-anima-block > div:last-child .book-open .btn {
            margin: 3rem 0 0 5rem; } }
        @media only screen and (max-width: 768px) {
          .book-anima-block > div:last-child .book-open .btn {
            margin: 4rem auto 2rem; } }
      .book-anima-block > div:last-child .book-open .page {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-out; }
        @media only screen and (max-width: 1499px) {
          .book-anima-block > div:last-child .book-open .page {
            width: 94%; }
            .book-anima-block > div:last-child .book-open .page img {
              width: 100%; } }
        .book-anima-block > div:last-child .book-open .page img {
          margin-left: 0.9rem; }
        .book-anima-block > div:last-child .book-open .page.active {
          visibility: visible;
          opacity: 1; }
  .book-anima-block .info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 0 4.2rem 0; }
    @media only screen and (max-width: 1499px) {
      .book-anima-block .info {
        margin: 0 0 3rem 0; } }
    @media only screen and (max-width: 980px) {
      .book-anima-block .info {
        margin: 0 0 1.2rem 0; } }
    @media only screen and (max-width: 578px) {
      .book-anima-block .info {
        margin: 0 0 2rem; } }
    .book-anima-block .info span {
      position: relative;
      display: inline-block;
      width: 8.1rem;
      margin-right: 4.4rem; }
      @media only screen and (max-width: 1499px) {
        .book-anima-block .info span {
          margin-right: 3rem;
          max-width: 6rem;
          min-width: 6rem; }
          .book-anima-block .info span svg {
            width: 100%;
            height: auto; } }
      @media only screen and (max-width: 1199px) {
        .book-anima-block .info span {
          margin-right: 2rem; } }
      .book-anima-block .info span img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .book-anima-block .info span svg .path {
        fill: #ffe3ef;
        transition: all 0.3s ease-out; }
      .book-anima-block .info span svg .circle {
        fill: url(#paint0_linear);
        transition: all 0.3s ease-out; }
    .book-anima-block .info h5 {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 4rem;
      transition: all 0.3s ease-out; }
      @media only screen and (max-width: 1499px) {
        .book-anima-block .info h5 {
          font-size: 2rem;
          line-height: 3rem; } }
      @media only screen and (max-width: 1199px) {
        .book-anima-block .info h5 {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 980px) {
        .book-anima-block .info h5 {
          font-size: 1.6rem;
          line-height: 2.2rem; } }
    .book-anima-block .info.active span svg .path {
      fill: url(#paint2_linear);
      opacity: 0.3; }
    .book-anima-block .info.active span svg .circle {
      fill: url(#paint1_linear); }
    .book-anima-block .info.active h5 {
      font-weight: 600; }

/*.animation {
		.container {
			position: relative;
			top: 50px;
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s ease-out;
			
    }
    &.animated {
      .container{
        visibility: visible;
        opacity: 1;
        top: 0;
      }
    }
}*/
