@font-face {
  font-family: 'Hensa';
  src: url('../fonts/Hensa.eot');
  src: url('../fonts/Hensa.eot?iefix') format('eot'),
    url('../fonts/Hensa.woff') format('woff'),
    url('../fonts/Hensa.ttf') format('truetype'),
    url('../fonts/Hensa.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

$pink: #ef69a6;
$violet: #ad9fcf;
$black: #3b4d67;
$pinkGradient: linear-gradient(to bottom, #ffc0dc, #f965a3);
$violetGradient: linear-gradient(to bottom, #bb8add, #9779da);
$font: 'Poppins', sans-serif;
$titleFont: 'Hensa', sans-serif;

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin flex($direction, $justify, $align, $wrap) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -ms-flex-align: $align;
  align-items: $align;
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 1499px) {
    font-size: 54%;
  }
  @media only screen and (max-width: 1399px) {
    font-size: 52%;
  }
  @media only screen and (max-width: 1199px) {
    font-size: 62.5%;
  }
}
.container {
  width: 1170px;
  margin: 0 auto;
  @media only screen and (max-width: 1199px) {
    width: 960px;
  }
  @media only screen and (max-width: 980px) {
    width: 740px;
  }
  @media only screen and (max-width: 768px) {
    width: 560px;
  }
  @media only screen and (max-width: 578px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  background: #f7fbff;
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 69px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: calc(100% - 69px);
    z-index: 99;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  &.overflow {
    overflow: hidden;
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}
section {
  //overflow-x: hidden;
}
.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-weight: 400;
  box-sizing: border-box;
  color: $black;
  letter-spacing: 0.5px;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
  &::selection {
    color: #fff; /* Цвет текста */
    background: $violet; /* Цвет фона */
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.btn {
  display: block;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  background: $pinkGradient;
  width: 24rem;
  height: 6rem;
  line-height: 6rem;
  padding: 0 1.7rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  @media only screen and (max-width: 1199px) {
    width: 21rem;
    height: 5rem;
    line-height: 5rem;
    padding: 0 1rem;
  }
  @media only screen and (max-width: 980px) {
    width: 18rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.4rem;
  }
  @media only screen and (max-width: 578px) {
    width: 100%;
    font-size: 1.5rem;
  }
  &_small {
    width: auto;
    height: 4rem;
    line-height: 4rem;
    padding: 0 4rem;
    font-size: 1.3rem;
    background: $violetGradient;
    @media only screen and (max-width: 1199px) {
      padding: 0 3rem;
    }
    @media only screen and (max-width: 980px) {
      font-size: 1.1rem;
    }
  }
}
.btn_circle {
  @include flex(row, center, center, nowrap);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: $violetGradient;
  cursor: pointer;
  @media only screen and (max-width: 980px) {
    width: 3.5rem;
    height: 3.5rem;
  }
  i {
    color: #fff;
    font-size: 1.6rem;
    @media only screen and (max-width: 980px) {
      font-size: 1.3rem;
    }
  }
}

h2 {
  font-family: $titleFont;
  font-size: 8rem;
  color: $violet;
  letter-spacing: -1px;
  margin: 0 0 0.5rem;
  @media only screen and (max-width: 1199px) {
    font-size: 6rem;
  }
  @media only screen and (max-width: 980px) {
    font-size: 4.5rem;
  }
  @media only screen and (max-width: 768px) {
    font-size: 5.5rem;
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 578px) {
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }
}
h3 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  letter-spacing: 0px;
  margin: 0 0 3rem 0;
  @media only screen and (max-width: 1499px) {
    font-size: 5.5rem;
    line-height: 6.5rem;
    margin: 0 0 2rem 0;
  }
  @media only screen and (max-width: 1199px) {
    font-size: 4rem;
    line-height: 5rem;
  }
  @media only screen and (max-width: 980px) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  @media only screen and (max-width: 578px) {
    font-size: 2.7rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }
}
h4 {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 4rem;
  letter-spacing: 0px;
  margin: 0 0 4.7rem;
  @media only screen and (max-width: 1499px) {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 0 3rem 0;
  }
  @media only screen and (max-width: 1199px) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: 980px) {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  @media only screen and (max-width: 578px) {
    font-size: 1.5rem;
  }
}
p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0;
  @media only screen and (max-width: 1199px) {
    font-size: 1.6rem;
  }
  @media only screen and (max-width: 980px) {
    line-height: 2.5rem;
  }
}
input,
textarea {
  width: 100%;
  height: 7rem;
  margin-bottom: 3rem;
  border: 1px solid $black;
  border-radius: 8px;
  padding: 1.9rem 2.5rem 1.2rem;
  color: #859ab8;
  font-size: 1.6rem;
  line-height: 3rem;
  background: #fff;
}
textarea {
  height: 20rem;
}
@keyframes move1 {
  0% {
    top: 18%;
  }
  50% {
    top: 20%;
  }
  100% {
    top: 18%;
  }
}
@keyframes move2 {
  0% {
    top: 26%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 26%;
  }
}
@keyframes move3 {
  0% {
    top: 31%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 31%;
  }
}
@keyframes move4 {
  0% {
    top: 44%;
  }
  50% {
    top: 48%;
  }
  100% {
    top: 44%;
  }
}
.fixed-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('../img/bg.png') center center/cover no-repeat;
  z-index: -1;
  .elem1 {
    position: absolute;
    top: 18%;
    left: 5.6%;
    animation: move1 2s infinite ease-in-out;
  }
  .elem2 {
    position: absolute;
    top: 26%;
    left: 10.3%;
    animation: move2 3s infinite ease-in-out;
  }
  .elem3 {
    position: absolute;
    right: 4.2%;
    top: 31%;
    animation: move3 3s infinite ease-in-out;
  }
  .elem4 {
    position: absolute;
    top: 44%;
    right: 10.6%;
    animation: move4 2s infinite ease-in-out;
  }
  .elem5 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .elem6 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .elem7 {
    position: absolute;
    right: 8%;
    bottom: 0;
  }
  .elem8 {
    position: absolute;
    bottom: 0;
    left: 43%;
  }
  .elem9 {
    position: absolute;
    bottom: -3%;
    left: 32%;
  }
  @media only screen and (max-width: 768px) {
    img {
      //width: 80%;
    }
  }
}
header {
  position: fixed;
  width: 100%;
  @include flex(row, space-between, center, nowrap);
  padding: 0 40px;
  height: 76px;
  z-index: 999;
  background: transparent;
  transition: all 0.3s ease-out;
  @media only screen and (max-width: 1199px) {
    padding: 0 15px;
  }
  @media only screen and (max-width: 980px) {
    height: 66px;
  }
  &.menu-open {
    background: rgba(255, 255, 255, 1);
    .content {
      right: 0;
    }
  }
  .logo {
    padding: 18px 0;
    @media only screen and (max-width: 980px) {
      padding: 12px 0;
      width: 10rem;
    }
  }
  .mobile-icon {
    display: none;
    width: 26px;
    height: 18px;
    margin: 11px 7px;
    position: relative;
    p {
      position: absolute;
      left: 0;
      width: 26px;
      height: 2px;
      background: $pink;
      border-radius: 1px;
      transition: 0.3s;
      transform-origin: 50% 50%;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 8px;
        transition: 0.1s;
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
    &.active {
      p {
        &:nth-child(1) {
          top: 8px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          bottom: 8px;
          transform: rotate(-45deg);
        }
      }
    }
    @media only screen and (max-width: 768px) {
      display: block;
    }
  }
  .content {
    @include flex(row, flex-end, center, nowrap);
    height: 100%;
    .btn {
      margin: 0 2rem 0 3.3rem;
      @media only screen and (max-width: 1199px) {
        margin: 0 2rem;
      }
      @media only screen and (max-width: 980px) {
        margin: 0 1.5rem;
        padding: 0 2rem;
        white-space: nowrap;
      }
      @media only screen and (max-width: 768px) {
        margin: 1rem 0 3rem auto;
        padding: 0 3rem;
        font-size: 1.4rem;
      }
    }
    .btn_circle {
      @media only screen and (max-width: 768px) {
        margin: 0 0 0 auto;
        width: 4rem;
        height: 4rem;
        i {
          font-size: 1.4rem;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      width: 80vw;
      flex-direction: column;
      position: absolute;
      top: 99%;
      height: auto;
      right: -100%;
      transition: all 0.3s ease-out;
      background: rgba(255, 255, 255, 0.9);
      padding: 3rem 1.5rem;
    }
  }
  nav {
    @media only screen and (max-width: 768px) {
      margin: 0 0 0 auto;
    }
    ul {
      @include flex(row, flex-end, center, nowrap);
      @media only screen and (max-width: 768px) {
        @include flex(column, flex-end, flex-end, nowrap);
        width: 80%;
        margin: 0 0 0 auto;
      }
      height: 100%;
      a {
        @include flex(row, center, center, nowrap);
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        margin-left: 3.75rem;
        @include transition(all 0.3s ease-out);
        @media only screen and (max-width: 1199px) {
          margin-left: 2.5rem;
        }
        @media only screen and (max-width: 980px) {
          margin-left: 1.5rem;
          font-size: 1.4rem;
        }
        @media only screen and (max-width: 768px) {
          color: $pink;
          text-align: right;
          margin-bottom: 2rem;
          font-size: 1.8rem;
          text-transform: uppercase;
        }
      }
    }
  }
  .btn_small {
    background: $pinkGradient;
  }
}
.first-screen {
  position: relative;
  .trigger1 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: 'trigger';
    width: 1px;
    height: 1px;
    background: transperent;
    display: block;
    padding: 0;
  }
  & > div {
    @include flex(row, space-between, flex-start, wrap);
    padding-top: 16rem;
    padding-bottom: 6rem;
    @media only screen and (max-width: 1499px) {
      padding-top: 10rem;
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
    & > div:first-child {
      width: 51%;
      margin-right: 5rem;
      @media only screen and (max-width: 980px) {
        margin-right: 3rem;
      }
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
      .text-block {
        padding-top: 5.2rem;
        @media only screen and (max-width: 578px) {
          padding-top: 3.5rem;
        }
        h4 {
          width: 86%;
          @media only screen and (max-width: 1199px) {
            width: 100%;
          }
        }
      }
    }
    & > div:last-child {
      width: calc(49% - 5rem);
      @media only screen and (max-width: 980px) {
        width: calc(49% - 3rem);
      }
      @media only screen and (max-width: 768px) {
        width: 60%;
        margin: 0 auto;
      }
      div.img {
        position: relative;
        z-index: 2;
        img {
          @media only screen and (max-width: 1499px) {
            width: 70%;
          }
          @media only screen and (max-width: 1399px) {
            width: 62%;
          }
          @media only screen and (max-width: 1199px) {
            width: 74%;
          }
          @media only screen and (max-width: 980px) {
            width: 85%;
          }
          @media only screen and (max-width: 578px) {
            width: 100%;
          }
        }
        img.shadow {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: -1;
          @media only screen and (max-width: 1499px) {
            width: 120%;
          }
          @media only screen and (max-width: 1199px) {
            top: 0;
            left: 15px;
          }
          @media only screen and (max-width: 980px) {
            width: 150%;
            height: 100%;
            top: 0;
            left: 0;
          }
          @media only screen and (max-width: 578px) {
            width: 175%;
          }
        }
      }
    }
  }
  .btn {
    @media only screen and (max-width: 768px) {
      margin: 0 auto;
    }
  }
}

.who-block {
  @include flex(row, space-between, flex-start, wrap);
  padding-top: 4rem;
  @media only screen and (max-width: 1499px) {
    padding-top: 10rem;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 4rem;
  }
  & > div:first-child {
    width: 43%;
    margin: 0 9.8rem 0 0;
    padding: 1.6rem 0 0 2rem;
    @media only screen and (max-width: 1499px) {
      padding: 0;
      margin: 0 2rem 0 0;
    }
    @media only screen and (max-width: 1199px) {
      width: 40%;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
    img {
      @media only screen and (max-width: 1499px) {
        width: 80%;
      }
      @media only screen and (max-width: 1199px) {
        width: 88%;
      }
      @media only screen and (max-width: 768px) {
        width: 60%;
        display: block;
        margin: 0 auto;
      }
      @media only screen and (max-width: 578px) {
        width: 70%;
      }
    }
  }
  & > div:last-child {
    width: calc(57% - 9.8rem);
    @media only screen and (max-width: 1499px) {
      width: calc(57% - 2rem);
    }
    @media only screen and (max-width: 1199px) {
      width: calc(60% - 2rem);
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    .text-block {
      h3 {
        margin-bottom: 4rem;
        @media only screen and (max-width: 1199px) {
          margin-bottom: 2rem;
        }
      }
      h4 {
        margin-bottom: 3.5rem;
        @media only screen and (max-width: 1199px) {
          margin-bottom: 1.5rem;
        }
      }
      p {
        width: 85%;
      }
      a.btn {
        margin-top: 5.5rem;
        @media only screen and (max-width: 1199px) {
          margin-top: 3rem;
        }
        @media only screen and (max-width: 768px) {
          margin: 3rem auto 0;
        }
      }
    }
  }
}
.section3 {
  .who-block {
    align-items: flex-end;
    padding-top: 7rem;
    & > div:last-child {
      padding: 0 0 5rem;
      .text-block p {
        width: 100%;
      }
    }
  }
}
.section2,
.section3,
.section4,
.section5,
.articles,
.instagram-section,
.contact-section {
  position: relative;
  .trigger1 {
    position: absolute;
    bottom: 0;
    right: 0;
    //transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: transparent;
    display: block;
    padding: 0;
  }
}
.section4 .trigger1,
.instagram-section .trigger1 {
  top: 50%;
  transform: translateY(-50%);
}
.why-block {
  @include flex(row, flex-start, flex-start, wrap);
  //padding-top: 4.5rem;
  padding-bottom: 18rem;
  @media only screen and (max-width: 1499px) {
    //@errorpadding-top: 9rem;
    padding-bottom: 12rem;
  }
  @media only screen and (max-width: 1199px) {
    //padding-bottom: 12rem;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @media only screen and (max-width: 578px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  h2 {
    width: 100%;
  }
  h3 {
    @media only screen and (max-width: 1499px) {
      br {
        display: none;
      }
    }
  }
  & > div {
    &.text-left {
      width: 51.5%;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &:last-child {
      width: 48.5%;
      margin: 0 0 -1rem auto;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
      h4 {
        margin: 0 0 3.7rem;
        @media only screen and (max-width: 1199px) {
          margin: 0 0 2rem;
        }
      }
      p {
      }
    }
  }
}
.articles {
  @include flex(row, space-between, flex-start, wrap);
  //padding-bottom: 10rem;
  margin-top: -5rem;
  @media only screen and (max-width: 1499px) {
    margin-top: 0;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 5rem;
    margin: 0;
  }
  .article {
    width: calc((100% - 10rem) / 3);
    @media only screen and (max-width: 1199px) {
      width: calc((100% - 4rem) / 3);
    }
    @media only screen and (max-width: 768px) {
      width: 80%;
      margin: 0 auto 4rem;
    }
    @media only screen and (max-width: 578px) {
      width: 100%;
      margin-bottom: 5rem;
    }
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 31rem;
      margin-bottom: 1.4rem;
      img {
        display: block;
        margin: 0 auto;
      }
      @media only screen and (max-width: 1499px) {
        margin: 0 auto;
      }
      @media only screen and (max-width: 980px) {
        height: 22rem;
      }
      @media only screen and (max-width: 578px) {
        height: 24rem;
      }
      img {
        @media only screen and (max-width: 1499px) {
          width: 96%;
          display: block;
          margin: 0 auto;
        }
        @media only screen and (max-width: 768px) {
          width: 50%;
        }
        @media only screen and (max-width: 578px) {
          width: 85%;
        }
      }
    }
    h4,
    p {
      text-align: center;
    }
    h4 {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 3.5rem;
      padding: 0 1rem;
      margin-bottom: 2rem;
      @media only screen and (max-width: 980px) {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin: 0 0 1.5rem 0;
      }
    }
  }
  .btn {
    margin: 4rem auto;
    @media only screen and (max-width: 768px) {
      margin: 0 auto 5rem;
    }
  }
}
.instagram {
  margin: 11rem auto 4rem auto;
  @media only screen and (max-width: 1499px) {
    margin-top: 7rem;
  }
  .insta-top {
    @include flex(row, space-between, center, nowrap);
    margin-bottom: 7rem;
    @media only screen and (max-width: 980px) {
      margin-bottom: 4rem;
    }
    @media only screen and (max-width: 578px) {
      flex-direction: column;
    }
    h3 {
      margin: 0;
    }
    & > div:last-child {
      padding-right: 3rem;
      img {
        display: block;
        margin: 0 auto 2.3rem;
        @media only screen and (max-width: 980px) {
          margin: 0 auto 1rem;
          width: 45%;
        }
        @media only screen and (max-width: 578px) {
          width: 6rem;
          margin: 0;
        }
      }
      @media only screen and (max-width: 578px) {
        @include flex(row, space-between, center, nowrap);
        width: 100%;
        padding: 0;
        margin: 2rem 0 0;
      }
    }
  }
}
.insta-list {
  @include flex(row, space-between, flex-start, wrap);
  .insta-item {
    width: calc((100% - 6rem) / 3);
    @media only screen and (max-width: 768px) {
      width: calc((100% - 2rem) / 3);
    }
    @media only screen and (max-width: 578px) {
      width: 80%;
      margin: 0 auto 3rem;
    }
    p.top {
      @include flex(row, flex-start, center, nowrap);
      font-weight: 500;
      font-size: 1.8rem;
      margin-bottom: 2.2rem;
      @media only screen and (max-width: 768px) {
        font-size: 1.6rem;
        margin: 0 0 1.5rem;
      }
      .btn_circle {
        width: 3rem;
        height: 3rem;
        background: $pinkGradient;
        color: #fff;
        margin-right: 1.5rem;
        font-size: 1.35rem;
        text-transform: uppercase;
        font-weight: 700;
        @media only screen and (max-width: 768px) {
          margin-right: 1rem;
        }
      }
    }
    .image {
      border-radius: 8px;
      min-height: 37rem;
      overflow: hidden;
      margin-bottom: 2.4rem;
      @media only screen and (max-width: 1199px) {
        min-height: 30rem;
      }
      @media only screen and (max-width: 980px) {
        min-height: 10rem;
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 1.5rem;
      }
      img {
        width: 100%;
      }
    }
    & > p {
      margin-bottom: 5px;
      @media only screen and (max-width: 768px) {
        font-size: 1.4rem;
      }
    }
    .tags {
      a {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 3rem;
        color: $violet;
        letter-spacing: 0.1px;
        @media only screen and (max-width: 980px) {
          line-height: 2rem;
        }
      }
    }
    .icons {
      @include flex(row, center, center, nowrap);
      margin-bottom: 2rem;
      @media only screen and (max-width: 768px) {
        margin-bottom: 1rem;
      }
      & > div {
        width: calc(100% / 3);
        &:first-child {
          img {
            margin-right: 1rem;
            @media only screen and (max-width: 1199px) {
              width: 2.2rem;
              margin-right: 0.5rem;
            }
            @media only screen and (max-width: 980px) {
              width: 1.8rem;
            }
            @media only screen and (max-width: 768px) {
              width: 1.4rem;
              margin-right: 0.2rem;
            }
            @media only screen and (max-width: 578px) {
              width: 2.2rem;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
        &:last-child {
          img {
            display: block;
            margin: 0 0 0 auto;
            @media only screen and (max-width: 1199px) {
              height: 2.2rem;
            }
            @media only screen and (max-width: 980px) {
              height: 1.8rem;
            }
            @media only screen and (max-width: 768px) {
              height: 1.4rem;
            }
            @media only screen and (max-width: 578px) {
              height: 2.2rem;
            }
          }
        }

        &.dots {
          @include flex(row, center, center, nowrap);
          span {
            width: 4px;
            height: 4px;
            background: $black;
            border-radius: 50%;
            margin: 0 0.6rem;
            @include transition(all 0.3s ease-out);
            @media only screen and (max-width: 980px) {
              margin: 0 0.4rem;
            }
            &:hover,
            &.active {
              background: $pink;
            }
          }
        }
      }
    }
  }
}
.contact {
  @include flex(row, space-between, flex-start, wrap);
  padding-top: 12rem;
  padding-bottom: 0;
  @media only screen and (max-width: 1199px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @media only screen and (max-width: 768px) {
    padding-bottom: 2rem;
  }
  .info-block {
    @media only screen and (max-width: 768px) {
      @include flex(row, space-between, center, nowrap);
      width: 100%;
      margin: 3rem 0;
    }
    @media only screen and (max-width: 578px) {
      flex-direction: column;
    }
  }
  .text {
    width: 100%;
    margin-bottom: 4rem;
  }
  & > h3 {
    margin-bottom: 7rem;
  }
  .info {
    @include flex(row, flex-start, center, nowrap);
    margin: 0 0 3rem 0;
    @media only screen and (max-width: 1199px) {
      margin: 0 0 2rem 0;
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      width: calc(100% / 3);
    }
    @media only screen and (max-width: 578px) {
      width: 100%;
      flex-direction: row;
    }
    h4 {
      margin: 0;
      line-height: 3.6rem;
      letter-spacing: -1px;
      font-weight: 600;
      font-size: 2rem;
      @media only screen and (max-width: 1199px) {
        line-height: 2.5rem;
        font-size: 1.8rem;
      }
      @media only screen and (max-width: 768px) {
        text-align: center;
        font-size: 1.5rem;
      }
      a {
        font-size: 2rem;
        letter-spacing: -1px;
        font-weight: 600;
        @media only screen and (max-width: 1199px) {
          font-size: 1.8rem;
        }
        @media only screen and (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }
    img {
      margin-right: 3.4rem;
      @media only screen and (max-width: 1199px) {
        margin-right: 2rem;
        width: 6rem;
      }
      @media only screen and (max-width: 768px) {
        margin: 0 0 2rem 0;
      }
      @media only screen and (max-width: 578px) {
        margin: 0 2rem 0 0;
      }
    }
  }
  form {
    width: 49%;
    margin-top: 1rem;
    @media only screen and (max-width: 980px) {
      width: 54%;
    }
    @media only screen and (max-width: 768px) {
      width: 500px;
      margin: 0 auto;
    }
    input,
    textarea {
      width: 100%;
      height: 7rem;
      margin-bottom: 3rem;
      border: 1px solid $black;
      border-radius: 8px;
      padding: 1.9rem 2.5rem 1.2rem;
      color: #859ab8;
      font-size: 1.6rem;
      line-height: 3rem;
      background: #fff;
      @media only screen and (max-width: 1199px) {
        height: 5rem;
        padding: 1.2rem 1rem 1.2rem 1.5rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
        line-height: 2rem;
      }
      @media only screen and (max-width: 980px) {
        margin-bottom: 1.5rem;
        height: 4.5rem;
      }
    }
    textarea {
      height: 20rem;
      @media only screen and (max-width: 1199px) {
        height: 18rem;
      }
    }
    .btn {
      margin: 0 0 0 auto;
      @media only screen and (max-width: 768px) {
        margin: 0 auto;
      }
    }
  }
}

footer {
  padding-top: 15rem;
  padding-bottom: 20rem;
  min-height: 50vh;
  @media only screen and (max-width: 1199px) {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
  @media only screen and (max-width: 768px) {
    padding-bottom: 0;
  }
  @media only screen and (max-width: 578px) {
    padding-top: 2rem;
  }
  .logo {
    margin: 0 0 1rem 0;
    img {
      width: 12.5rem;
      @media only screen and (max-width: 980px) {
        width: 10rem;
      }
    }
    & + p {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 3rem;
      color: #859ab8;
      @media only screen and (max-width: 768px) {
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }
  & > div {
    @include flex(row, space-between, flex-start, wrap);
    padding: 3rem 0 0;
    border-top: 1px solid #859ab8;
    @media only screen and (max-width: 1199px) {
      padding: 2rem 0 0;
    }
    @media only screen and (max-width: 578px) {
      padding: 1rem 0 0;
    }
    &:first-child {
      padding: 5rem 0 5rem;
      @media only screen and (max-width: 1199px) {
        padding: 3rem 0;
      }
    }
    & > div {
      width: calc((100% - 9rem) / 4);
      @media only screen and (max-width: 980px) {
        width: calc((100% - 3rem) / 4);
      }
      @media only screen and (max-width: 768px) {
        width: 100%;
        @include flex(column, center, center, nowrap);
        margin: 0 0 3rem 0;
      }
      h4 {
        font-size: 2rem;
        font-weight: 600;
        color: $black;
        padding: 0.5rem 0 0;
        margin: 0 0 2.2rem 0;
        @media only screen and (max-width: 980px) {
          font-size: 1.8rem;
          padding: 1rem 0 0;
        }
      }
      h2 {
        font-family: $titleFont;
        font-size: 3.6rem;
        color: $violet;
        font-weight: 400;
        padding-top: 1rem;
        letter-spacing: 0;
        margin-bottom: 1.8rem;
        @media only screen and (max-width: 768px) {
          font-size: 4rem;
          margin: 0 0 1.5rem;
        }
      }
      .info {
        @include flex(row, flex-start, center, nowrap);
        margin: 0 0 1.5rem 0;
        padding: 0.5rem 0 0;
        span {
          display: inline-block;
          width: 2.05rem;
          margin-right: 2rem;
          @media only screen and (max-width: 980px) {
            width: 1.5rem;
            margin-right: 1.5rem;
          }
          @media only screen and (max-width: 768px) {
            width: 3rem;
            img {
              width: 100%;
            }
          }
        }
        h5,
        h5 a {
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 0;
          margin: 0;
          @media only screen and (max-width: 980px) {
            font-size: 1.3rem;
          }
        }
      }
      form {
        input {
          height: 4rem;
          padding: 0.5rem 1.5rem;
          margin: 0.5rem 0 1rem;
          font-size: 1.3rem;
          line-height: 3rem;
          color: #859ab8;
          @media only screen and (max-width: 768px) {
            width: 30rem;
            margin: 1rem 0 2rem;
          }
        }
        .btn {
          margin: 0 0 0 auto;
          padding: 0 2rem;
          @media only screen and (max-width: 768px) {
            margin: 0 auto;
          }
          @media only screen and (max-width: 578px) {
            width: 12rem;
          }
        }
      }
      .menu {
        li {
          margin: 0 0 3rem 0;
          @media only screen and (max-width: 980px) {
            margin: 0 0 1rem 0;
          }
          @media only screen and (max-width: 768px) {
            text-align: center;
            margin: 0 0 1.7rem 0;
          }
        }
        a {
          position: relative;
          padding: 0 0 0 2.1rem;
          font-weight: 400;
          line-height: 1.9rem;
          font-size: 1.3rem;
          color: $black;
          &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $pink;
          }
          @media only screen and (max-width: 980px) {
            padding: 0 0 0 1.5rem;
          }
          @media only screen and (max-width: 768px) {
            font-size: 1.5rem;
            line-height: 2.2rem;
          }
        }
      }
    }
    &:last-child {
      & > div {
        width: auto;
        @media only screen and (max-width: 768px) {
          margin: 0 0 2rem;
        }
        @media only screen and (max-width: 578px) {
          width: 100%;
          margin: 0 0 1rem 0;
        }
        &:last-child {
          @include flex(row, flex-end, center, nowrap);
          @media only screen and (max-width: 768px) {
            justify-content: center;
          }
          p {
            font-size: 1.2rem;
            line-height: 2.5rem;
            color: #859ab8;
            margin: 0 0.5rem 0 0;
            letter-spacing: 0.02rem;
          }
        }
      }
      ul {
        @include flex(row, flex-start, center, nowrap);
        @media only screen and (max-width: 578px) {
          justify-content: center;
        }
        li {
          padding: 0 2.3rem 0 0;
          position: relative;
          @media only screen and (max-width: 768px) {
            padding: 0 1.5rem 0 0;
          }
          @media only screen and (max-width: 578px) {
            padding: 0 1rem 0 0;
          }
          &:after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1rem;
            font-size: 1.2rem;
            color: #859ab8;
            content: '|';
            @media only screen and (max-width: 768px) {
              right: 0.3rem;
            }
          }
          a {
            color: $violet;
            font-weight: 400;
            line-height: 3rem;
            font-size: 1.2rem;
            letter-spacing: 0.02rem;
            @media only screen and (max-width: 578px) {
              font-size: 1.1rem;
              letter-spacing: 0;
            }
          }
          &:last-child {
            padding: 0;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
.book-overlay {
  padding: 1.3rem 1.6rem 1.7rem 1.2rem;
  background: #f5c3d8;
  box-shadow: 0 4.23px 8.45px rgba(31, 54, 88, 0.25),
    16.9px 16.9px 16.9px rgba(31, 54, 88, 0.15);
  @media only screen and (max-width: 578px) {
    padding: 0.7rem;
  }
  .page-overlay {
    position: relative;
    z-index: 2;
    & > img:not(.bookmark) {
      box-shadow: 0 4.23px 8.45px rgba(31, 54, 88, 0.25),
        16.9px 16.9px 16.9px rgba(31, 54, 88, 0.15);
    }
  }
  img.bookmark {
    position: absolute;
    top: -2.5rem;
    left: 45%;
    transform: translate(0, 0);
    z-index: -1;
    @media only screen and (max-width: 1499px) {
      height: 115%;
    }
    @media only screen and (max-width: 578px) {
      top: -1rem;
    }
  }
}
.section4 {
  padding-top: 14rem;
  @media only screen and (max-width: 768px) {
    padding-top: 0;
  }
}
.book-anima-block {
  @include flex(row, space-between, flex-start, wrap);
  position: relative;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  & > div {
    &:first-child {
      width: 45%;
      @media only screen and (max-width: 1499px) {
        width: 42%;
      }
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
      h2 {
        padding: 4rem 0 0;
        @media only screen and (max-width: 1499px) {
          padding: 0;
        }
      }
      h3 {
        margin: 0 0 5rem 0;
        @media only screen and (max-width: 1499px) {
          margin: 0 0 2rem 0;
        }
      }
    }
    &:last-child {
      position: absolute;
      top: 0;
      left: 51%;
      @media only screen and (max-width: 1499px) {
        left: 47%;
      }
      @media only screen and (max-width: 768px) {
        position: relative;
        left: 0;
        margin: 6rem 0 0 0;
      }
      .book-open {
        position: relative;
        @media only screen and (max-width: 1499px) {
          width: 100%;
          img:not(.bookmark) {
            width: 100%;
          }
        }
        @media only screen and (max-width: 1399px) {
          width: 90%;
        }
        @media only screen and (max-width: 1299px) {
          width: 100%;
        }
        .btn {
          margin: 6.5rem 0 0 11.5rem;
          @media only screen and (max-width: 1499px) {
            margin: 3rem 0 0 5rem;
          }
          @media only screen and (max-width: 768px) {
            margin: 4rem auto 2rem;
          }
        }
        .page {
          @include flex(row, center, center, nowrap);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease-out;
          @media only screen and (max-width: 1499px) {
            width: 94%;
            img {
              width: 100%;
            }
          }
          img {
            margin-left: 0.9rem;
          }
          &.active {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  .info {
    @include flex(row, flex-start, center, nowrap);
    margin: 0 0 4.2rem 0;
    @media only screen and (max-width: 1499px) {
      margin: 0 0 3rem 0;
    }
    @media only screen and (max-width: 980px) {
      margin: 0 0 1.2rem 0;
    }
    @media only screen and (max-width: 578px) {
      margin: 0 0 2rem;
    }
    span {
      position: relative;
      display: inline-block;
      width: 8.1rem;
      margin-right: 4.4rem;
      @media only screen and (max-width: 1499px) {
        margin-right: 3rem;
        max-width: 6rem;
        min-width: 6rem;
        svg {
          width: 100%;
          height: auto;
        }
      }
      @media only screen and (max-width: 1199px) {
        margin-right: 2rem;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      svg {
        .path {
          fill: #ffe3ef;
          transition: all 0.3s ease-out;
        }
        .circle {
          fill: url(#paint0_linear);
          transition: all 0.3s ease-out;
        }
      }
    }
    h5 {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 4rem;
      transition: all 0.3s ease-out;
      @media only screen and (max-width: 1499px) {
        font-size: 2rem;
        line-height: 3rem;
      }
      @media only screen and (max-width: 1199px) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: 980px) {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }
    &.active {
      span {
        svg {
          .path {
            fill: url(#paint2_linear);
            opacity: 0.3;
          }
          .circle {
            fill: url(#paint1_linear);
          }
        }
      }
      h5 {
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 1499px) {
}
@media only screen and (max-width: 1399px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 980px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 578px) {
}

/*.animation {
		.container {
			position: relative;
			top: 50px;
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s ease-out;
			
    }
    &.animated {
      .container{
        visibility: visible;
        opacity: 1;
        top: 0;
      }
    }
}*/
